@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(./desktopPrincipal.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*NAV*/

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}

.nav_links{
    color: white;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav__onWeb{
    cursor: pointer;
}

.nav_close{
    display: var(--show, none);
}

/*HERO CONTAINER*/

.hero__container{
    max-width: 800px;
    --padding_container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3em;
}

.hero__parrafo{
    margin-bottom: 20px;
    
}

.solicitud{
    display: inline-block;
    background-color: tomato;
    border-radius: 30px;
    justify-self: center;
    text-decoration: none;
    color: white;
    padding: 13px 30px;
}

/*ABOUT*/

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__parrafoMain{
    font-size: 20px;
    
}

.about__parrafo{
    line-height: 1.5;

}

.about__main{
    padding-top: 80px;
    display: grid;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 40px;
}

/*KNOWLEDGE*/

.knowledge{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
    
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;

}

.knowledge__parrafo{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/*PRICE*/

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #37E2D5;
    text-align: center;
    border-radius: 20px;
    width: 350px;
    padding: 40px;
    --color-plan: #FB2576;
    --color-price: tomato;
    --bg-solicitud: tomato;
    --color-solicitud: white;
    --color-items: white;
}

.plan__name{
    font-size: 1.8rem;
    color: var(--color-plan);
    margin-bottom: 15px;

}

.plan__price{
    font-size: 2.5rem;
    color: var(--color-price);

}

.plan__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.plan__solicitud{
    background-color: var(--bg-solicitud);
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    color: var(--color-solicitud);

}